.section1{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  background-image: linear-gradient( to right, red,green,  yellow, blue);
}

.section2{
  border: 2px solid rgb(120, 0, 218);
  border-radius: 15px;
  width: 800px;
  margin: 0px auto;
  margin-top: 15px;
  text-align: center;
  background-color: rgb(247, 179, 32);
  font-weight: bold;
}

ul{
  display: inline-block;
  text-align: left;
}

.section3{
  border: 2px solid rgb(0, 146, 44);
  border-radius: 15px;
  background-color: rgb(187, 127, 255);
  margin-top: 30px; 
  padding-top: 15px;
}

.box1{
  display: flex;
  flex-direction: row;
}

.p1 {
  border: 2px solid green;
  border-radius: 15px;
  background-color: #00ff73;
  font-weight: bold;
  height: 50px;
  width: 350px;
  padding: 21px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
  text-align: center;
}
.box4{
  margin-left: 415px;
  margin-bottom: 10px;
}

.section4{
  font-size: 25px;
  text-align: center;
  text-decoration: underline;
  background-image: linear-gradient( to right, red,green,  yellow, blue);
}

.section5{
  display: flex;
  justify-content: space-evenly;
  background: radial-gradient(red,green,  yellow, blue);
  height: 400px;
  align-items: center;
}

.box5{
  border: 2px solid rgb(120, 0, 218);
  background-color: rgba(11, 216, 21, 0.781);
  justify-content: space-evenly;
  color: black;
  text-align: center;
  text-decoration: underline;
  border-radius: 10px;
  font-weight: bold;
  width: 300px;
  height: 300px;
  padding-bottom: 10px;
}

.section6{
  display: grid;
  border: 2px solid black;
  margin-top: 5px;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5px;
  row-gap: 5px;
  width: 1325px;
  height: auto;
}

.h{
  background-color: red;
  color: white;
  grid-column: 1 / 5;
  text-align: center;
}

.one{
  background-color: rgb(38, 160, 38);
  height: 70px;
  width: 360px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: aliceblue;
}

.two{
  background-color: rgb(51, 135, 163);
  color: aliceblue;
  height: 70px;
  width: 360px;
  font-size: 25px;
  font-weight: bold;
}

.three{
  background-color: blue;
  color: white;
  height: 70px;
  width: 370px;
  font-size: 22px;
  font-weight: bold;
}

.four{
  background-color: black;
  color: white;
  height: 185px;
  width: 200px;
  text-decoration: underline;
  grid-column-start: 4;
  grid-row: 2 / 8;
}

.five{
  height: 100px;
  color: white;
  background-color: orange;
  grid-column: 1 / 4;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  padding: 5px;
}

.last{
  color: black;
  background-color: aqua;
  grid-column: 1 / 5;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}



